body{
    font-family: 'Source Sans Pro',"Helvetica Neue",Arial,sans-serif;
}
.intro img{
    
    border-radius: 500px 500px 500px 500px;
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 0px;
    display: none;
}
._purple ,._violet{
    right:0px;
}
._black ,._golden{
    left:0px;
}
._golden{
    z-index: 50;
    
}
.my_gray{
    /*background: #FEFEFE;*/
    background: url("../images/back2.png") no-repeat scroll center top rgb(133, 133, 133);
}

.intro {
   
    height:120px;
    border: 1px solid transparent;
}
.mylogo{
    display: none;
}
.tr_t{
    
    bottom: 10px;
    right: 5px;
    
    font-size: 0.95em;
-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=12, Direction=252, Color=#322e2e)";/*IE 8*/
text-shadow: -6px 2px 12px #322e2e;/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=12, Direction=252, Color=#322e2e); /*IE 5.5-7*/

}
.my_nav ,.myfooter{
    //background-size: 100% auto;
    background: url("../images/tt.png") no-repeat scroll 100% 0% transparent;
    background-size: 100%;
    display: inline-block;
}
.myfooter{
    margin-top: 20px;
}
.myfooter ul li{
    list-style: none;
}
.myfooter a{
    color:white;
}
.site_color{
    color: #A4A4A4;
}
ul.nv li{
    
    list-style: none;
    float: left;
padding: 15px 18px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
ul.nv li:hover{
    background-color: rgba(0,0,0,0.1);
}
.item img{
    width:60%;
    float: left;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=18, Direction=135, Color=#ada4a4)";/*IE 8*/
-moz-box-shadow: 3px 3px 18px #ada4a4;/*FF 3.5+*/
-webkit-box-shadow: 3px 3px 18px #ada4a4;/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
box-shadow: 3px 3px 18px #ada4a4;/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=18, Direction=135, Color=#ada4a4); /*IE 5.5-7*/
    border-radius: 5px;
}
.content_image{
    
    width:30%;
    margin-right:2%;
}
.lit{
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color=#d3cdcd)";/*IE 8*/
-moz-box-shadow: 3px 3px 3px #d3cdcd;/*FF 3.5+*/
-webkit-box-shadow: 3px 3px 3px #d3cdcd;/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
box-shadow: 3px 3px 3px #d3cdcd;/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color=#d3cdcd); /*IE 5.5-7*/
}
.content_image p{
    color: rgb(170, 170, 170);
}
.item_inside{
    width:94%;
    margin:3%;
    margin-top: 20px;
}
.h_5 {
    margin-left: 25px;
    letter-spacing: 3px;
    opacity: 0.9;
    font-size: 0.9em;
}
