  
@font-face {font-family: 'CallunaSans-Regular';src: url('webfonts/2C46BA_0_0.eot');src: url('webfonts/2C46BA_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/2C46BA_0_0.woff') format('woff'),url('webfonts/2C46BA_0_0.ttf') format('truetype');}

body{
    
    font-family: 'Lato', sans-serif;    
}
.jsv{
    font-family: 'Josefin Slab', serif;
}
.bds{
    font-family: 'Bad Script', cursive;
}
.stf{
    font-family: 'Satisfy', cursive;
}
.intro img{
    
    border-radius: 500px 500px 500px 500px;
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 0px;
    display: none;
}
._purple ,._violet{
    right:0px;
}
._black ,._golden{
    left:0px;
}
._golden{
    z-index: 50;
    
}
.big_head{
	font-family: 'Black Ops One', cursive;
}
.pearl_header{
	
    font-size: 1.1em;
    opacity: 0.8;
    letter-spacing: 2px;

}
.header_small{
    font-size: 0.9em;
    color: #A4A4A4;

}
.intro {
   
    height:120px;
    border: 1px solid transparent;
}
.mylogo{
    display: none;
}
.tr_t{
    
    bottom: 10px;
    right: 5px;
    
    font-size: 0.95em;
-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=12, Direction=252, Color=#322e2e)";/*IE 8*/
text-shadow: -6px 2px 12px #322e2e;/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=12, Direction=252, Color=#322e2e); /*IE 5.5-7*/

}
.my_nav ,.myfooter{
background:#EDEDEE;
    display: inline-block;
}
.myfooter {
    margin-top: 20px;
    padding: 10px 0px;
    font-size: 1.15em;
}

.myfooter ul li{
    list-style: none;
}
.myfooter a{
    color:white;
}
.site_color{
    color: #A4A4A4;
}
ul.nv > li{
    
    list-style: none;
    float: left;
padding:3px 0px;
    cursor: pointer;
}
ul.nv li:hover{
    background-color: #6E6E70;
}
ul.nv li:hover a{
    color: white;
}
#featured li img{
	height:310px;
	width: 100%;
	cursor: pointer;
	
}
.contr{
	
    font-size: 1.5em;
    line-height: 30px;
    background: rgba(0,0,0,0.5);

    position: absolute;
    width: 95%;
    bottom: 0px;
    padding: 5px 2.5%;

}
.index_content h1{
	
    line-height: 22px;
    color: #6E9ABC;

}
.inner_t {
    width: 80%;
    margin-left: 20%;
}

.index_content{
	margin-bottom:60px;
    width: 98%;
    margin-left: 1%;
    margin-top: 10px;

}
.first_ch{
	
    background: #83B282;
    
    padding: 2px 10px;
    

}
.w_po{
	
    font-size: 1.1em;
    line-height: 25px;

}
.left_ban li{
	list-style: none;
	
    
    text-align: center;
    padding: 6px 0px;
    text-transform: uppercase;


}
._1{
	background: #90A362;
}
._2{
	background:#C43B28;
}
._3{
	background:#9A7081;
}
._4{
	background:#6E9ABC;
}
._5{
	background:#186C8A;
}
._6{
	background:#6E6E70;
}
.left_ban li a{
	color:white;
	font-size: 0.9em;
}
ul.nv > li.has_sub:hover .sub_menu{
    display: block;
}
.has_sub{
    /*padding-right:22px;*/
}
ul.sub_menu{
  background: #C6C0B7;
    margin: 0px;
    list-style: none;
    left: 0px;
    width: 100%;
    position: absolute;
    top: 100%;
    z-index: 5;
    -moz-border-radius: 0px 0px 3px 3px;
    -webkit-border-radius: 0px 0px 3px 3px;
    border-radius: 0px 0px 3px 3px;
    display: none;
}
ul.sub_menu li{
    padding: 5px;
}
.my_icon{
    right:5px;
    top: 33%;
}
.item img{
    width:60%;
    float: left;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=18, Direction=135, Color=#ada4a4)";/*IE 8*/
-moz-box-shadow: 3px 3px 18px #ada4a4;/*FF 3.5+*/
-webkit-box-shadow: 3px 3px 18px #ada4a4;/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
box-shadow: 3px 3px 18px #ada4a4;/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=18, Direction=135, Color=#ada4a4); /*IE 5.5-7*/
    border-radius: 5px;
}
.content_image{
    font-family: 'Bad Script', cursive;
    
    
    width:30%;
    margin-right:2%;
}
.lit{
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color=#d3cdcd)";/*IE 8*/
-moz-box-shadow: 3px 3px 3px #d3cdcd;/*FF 3.5+*/
-webkit-box-shadow: 3px 3px 3px #d3cdcd;/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
box-shadow: 3px 3px 3px #d3cdcd;/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color=#d3cdcd); /*IE 5.5-7*/
}
.lity{
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=90, Color=#bfbdbd)";/*IE 8*/
-moz-box-shadow: 0px 0px 10px #bfbdbd;/*FF 3.5+*/
-webkit-box-shadow: 0px 0px 10px #bfbdbd;/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
box-shadow: 0px 0px 10px #bfbdbd;/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=90, Color=#bfbdbd); /*IE 5.5-7*/

}
.cat_image{
	
    height: 250px;
    opacity: 0.8;

}
.content_image p{
    color: rgb(170, 170, 170);
}
.custom_logo {
    margin-top: 8px;
}
.item_inside{
    width:94%;
    margin:3%;
    margin-top: 20px;
}
.h_5 {
    margin-left: 25px;
    letter-spacing: 3px;
    opacity: 0.9;
    font-size: 0.9em;
}
.container{
    position: relative;
    z-index: 2;
}
.my_b{
    
    opacity: 0.2;
    right: 30px;
    z-index: 1;
    top: 30px;
}
.mg_t {
    font-family: 'Satisfy', cursive;
    margin-top: 50px;
    font-weight: 400;
    font-size: 23px;
    color: black;
    line-height: 29px;
    opacity: 0.6;
    margin-bottom: 10px;
    
}

.content_image em{
    margin-right: 10px;
    font-weight: bold;
}
.about_div{
    width:98%;
    margin-left:1%;
    margin-bottom: 10px ;
    border-bottom: 1px solid #DDDDDD;
    padding-bottom: 5px;
}
.about_div h5{
	text-decoration:underline;
}
.lk{
	display:inline-block;
	margin-top: 15px;
}
ul.cl li{
	float:left;
	width:100%;
}
.about_div h5.abt{
	text-decoration:none;
 background: #6E9ABC;
    float: left;
    padding: 8px 10px;
width: 95%;

}
.about_div h5.abt a{
	outline:none;
	    color: white;
	    text-decoration:none;
	    
    display: inline-block;
    width: 100%;

}
.about_div h6{
    
    font-size: 16px;
    margin-left: 20px;
}

.about_div p{
	color: #6E6E70;
    line-height: 30px;
    
    margin-left: 25px;
    font-size: 15px;
}
#custom-markup-example .about_div p ,#custom-markup-example .about_div li{
	color:black;
	
}
.about_div li{
	color: #6E6E70;
}
.nv li a{
	border-right: 1px solid rgba(0,0,0,0.1);
	font-size: 0.8em;
	color:#666666;
	font-weight: 700;
	letter-spacing:1px;
padding: 0px 12px;
    display: inline-block;
 text-transform: uppercase;
    height: 100%;

    text-decoration: none;
    outline: none;
}
.nv li:last-child a{
	border-right:none;
}
.inner_image{
    
    float: left;
    width: 50px;
    height: 50px;
    margin-right: 5px;
}
.ino_m{
    
    margin-right: 10px;
    margin-top: -30px;
}

.empo{
	border: 1px solid rgba(110, 154, 188,0.5);
    cursor: pointer;
    opacity: 0.5;
    background: #F8F8F8;
    padding: 5px 0px;

    width: 22%;
    margin: 0px 1%;
}
.empo img
 {
    width: 94%;
    margin-left: 3%;
    height: 200px;
}
.is_cl{
    opacity: 1;
}
.sub_bio p{
    padding: 5px 10px;
}
.sub_bio h5{
    margin-left: 10px;
    text-decoration: underline;
}
.sub_bio {
        /*font-family: 'Josefin Slab', serif;
    font-weight: bold;*/
    font-size: 1.15em;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    width: 94%;
    margin-left: 0px;
    left: 3%;
    margin-top: 20px;
    background: #FBFBFB;
    color: #245269;
    position: absolute;
    display: none;
}


.sub_bio span{
    position: absolute;
    	width: 0; 
	height: 0; 
	border-left: 20px solid white;
	border-right: 20px solid white;
	
	border-bottom: 20px solid  #FBFBFB;
    top: -20px;
    
}
.bio_cont{
    height: 350px;
}